<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHr1DvTiL82WrcXCur9wKo2L2hNj7_k4w</string>
	<key>GCM_SENDER_ID</key>
	<string>836374406934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mdq.astromaagic</string>
	<key>PROJECT_ID</key>
	<string>astromaagic-b2480</string>
	<key>STORAGE_BUCKET</key>
	<string>astromaagic-b2480.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836374406934:ios:70fd9c0cd3e56da3a05237</string>
</dict>
</plist>